<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="2820503107"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div id="post-cover">
<%= image_tag "/system/buttons/pokemon-go-android-ios.jpg", class: "post-cover-image", style: "width:100%;height:70vh" %>
</div>
<div class="post-title">How to install Pokemon Go?</div>
 <div class="post-content">
The game isn't published all over the world, so if you live in Europe it's impossible to download Pokemon Go from Apps Store or Google Play. If you are from America - just download the game from market!
 </br>
<b>How to install Pokemon Go from anywhere in the world?</b>
</br>
Follow these simple steps to install Pokemon Go in few minutes!
 </br>
<b>Installation on iOS:</b>

  <li>Logout from Apps Store!</li>
  <li>Open your web browser and go to Pokemon Go page in Apps Store!</li>
  <li>Switch your region into somewhere where Pokemon Go is published eg. America.</li>
  <li>Make new user account</li>
  <li>At registration you have to input address from choosen country(in our way it's United States)</li>
  <li>Download application on your phone</li>
  <li>Just login into your normal Apps Store account!</li>
  <li>Now you can run catch some Pokemons!</li>

 </br></br>

<b>Installation on Android system:</b>

   <li>Download .apk file with Pokemon Go game - be aware of viruses version so we recommend download it from there <%= link_to "Dobreprogramy.", "http://www.dobreprogramy.pl/Pokemon-Go,Program,Android,74567.html" %></li>
   <li>Turn on installation from unknow sources in your Android</li>
   <li>Install the game from downloaded .apk.</li>
   <li>Now you can run catch some Pokemons!</li>

<b>Have you installed Pokemon Go but something don't work? Check out that your Mobile Phone fulfills system requirments of game: </b>
</br>
If you are using <b>Android</b> your system must be in version <b>4.4 or newer!</b>. You cannot play game with Intel Atom processor - it's not supported!<br>
If you have <b>Apple</b> device you have to use <b>iPhone 5</b> or newer with <b>iOS 8 and newer</b>! If your iPhone is Jailbroken you can't install this application!
<br>
<b>Also Android and iOS need stable internet and GPS connection to be able to play!</b>
</div>
<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="4297236306"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>