<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="2820503107"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div id="post-cover">
<%= image_tag "/system/buttons/pokemon-go-android-ios.jpg", class: "post-cover-image", style: "width:100%;height:70vh" %>
</div>

<div class="post-title">Frequently Asked Question - find answer for your question!</div>
<div class="post-content">
<b>1. When Pokemon Go will be released in Europe?</b>
</br>
At this day there is no official date of release game in Europe.
</br></br>
<b>2. Which devices are supported by Pokemon Go?</b>
</br>
In theory every Android and iOS, but the fact is there is more requirements - we recommend to read about them in Technical FAQ.
</br></br>
<b>3. Is possible to exchange Pokemons with others?</b>
</br>
In current version of game this option is disabled, but this function is currently implemented in game. Exchange will be working with players at short distance around you and in players from the same team in Gym.
</br></br>
<b>4. Is Pokemon Go free?</b>
</br>
You can download and play game for free, but if you will want to grow your Pokemons faster there is some in-game payments.
</br></br>
<b>5. How much Internet Connection is used to play game?</b>
</br>
If you will download offline Google Maps i think 2GB will be enough to play a lot for one month. Your phone battery may die before it :P
</br></br>
<b>6. It's possible to catch Legendary Pokemons?</b>
</br>
Yes! At special events you will be able to catch some Legendary pokemons.
</br></br>
<b>7. How to evolve eevee?</b>
</br>
Use sweets, in the same way as with other pokemons. You have to collect required amount and click on evolution which is totaly random.
I'am sure you can find wild Vaporeon and other evolutions from 1'st series.
</br></br>
<b>8. Can I find other players on Map?</b>
</br>
At this day - no!
</br></br>
<b>9. Can i choose my starter pokemon?</b>
</br>
Yes. At the begining you will be able to choose one from three starters. Later you will be able to catch them as wild Pokemons but it's really rare.
</br></br>
<b>10. How PokeStops are working?</b>
</br>
You can read about PokeStops here.
</br></br>
<b>17. Can I fight with other trainers?</b>
</br>
Today it's disabled. But if you watched trailers there was shown 1vs1 and group fights.
</br></br>
<b>18. What is Pokemon Go Plus?</b>
</br>
It's special band in pokeball color. Middle button in this band will be vibrate in sequence when our phone is blocked. If player will repeat this sequence, an pokemon will be catched. You can find more about this here.
</br></br>
<b>19. Where I can catch Pokemons?</b>
</br>
They are located all over the world, just go walk around. They are spawned not only in urban area, so you can go to forest and find some!
</br></br>
<b>20. How to catch and evolve Pokemons?</b>
</br>
At start you need only to throw Poke Ball on Pokemon using green scope. Later you will need to throw more Poke Balls when scope is as small sa possible (orange or red). You don't have to fight with every Pokemon. To get EXP you need to catch as many as possible pokemons and evolve them.
For every Pokemon we are getting Candies and Stardust. Candies are used to evolve into next form, stardust with candy increases Combat Power(CP) of your pokemon.
So it's worth to catch every pokemon on our way because we can send them to professor and get candy (Transfer Option).
</br></br>
<b>21. Where I can get Pokeballs?</b>
</br>
You can buy them from in-game shop. But much cheaper option is visiting PokeStops where you can drop PokeBalls and Eggs and potions after 5 level.
</br></br>
<b>22. What I can do with Egg?</b>
</br>
We can make our own Pokemon! When we put an egg to Incubator we need to walk, or ride(max 20km/h) around to incubate our Pokemon. At later game stages we can get incubator which can incubate more eggs but break after 3 uses.
</br></br>
<b>11. How Poke Egg's are working?</b>
</br>
Everything about Poke Egg's here.
</br></br>
<b>12. Is pokemon have own level?</b>
</br>
No, there is no levels for pokemons. Real power of every pokemon is described by CP - as value of CP is higher as our Pokemon is stronger. Remember that higher trainer level making us able to catch stronger Pokemons. Use stardust and candies to add your pokemon some CP.
</br></br>
<b>13. How to evolve an pokemon?</b>
</br>
You will need candies - every pokemon needs different amount of candies to evolve. To evolve some pokemons you will need to collect candies assigned to his family.
</br></br>
<b>15. How many Pokemons we can carry?</b>
</br>
Probably all of them, but it's worth to send these unuseful to professor to get more candies.
</br></br>
<b>16. Can I fight with wild Pokemons?</b>
</br>
In this version of game no, but we hope it will be possible in future.
</br></br>
<b>23. How to use gyms and what I can get from them?</b>
</br>
After 5 level you will be able to fight in gym. At taking control over first gym you can choose your fraction(Yellows, Blues or Reds). White gyms are easy to take over because no one left there own pokemon. If gym is in your color you can add there your Pokemon to defend your honour!
It's worth to fight for the gyms because for every 21 hours gym under your control gives you 10 Poke Coins and about 500 Stardust.
</br></br>
<b>24. I cannot login into game?</b>
</br>
In last few days a lot of people want to play Pokemon Go. Game servers have problems with these crowds so sometimes it's impossible to play.
</br></br>
<b>25. It's better to login by Google or Pokemon Club?</b>
</br>
Logging in by Pokemon Club is not the best option, there is more problems with it than Google. <b>So we recommend logging in by Google!</b>
</div>

<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="4297236306"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
