<div id="invite">
	<div id="invite-cover">
	<h1> Dołącz do nas już dzisiaj!</h1>
	</div>
	Jak się z nami skontaktować?
	<H1>Napisz do nas na fejsbuku!</h1>
	<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FZHP.Sulecinek&tabs=messages&width=230&height=370&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
	width="230" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
	</iframe>
</div>
<style>
#invite {
width:100%;
height:100%;
}
#invite-cover {
position:relative;
width:100%;
height:50vh;
background: url("https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/12494717_1759769774256242_7078185285230523305_n.jpg?oh=ff0fa93ef97050c5970670fb38f375a8&oe=583220D0") no-repeat fixed;
background-size: 100% 100%;
}
</style>