<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="2820503107"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div id="post-cover">
<%= image_tag "/system/buttons/pokemon-go-android-ios.jpg", class: "post-cover-image", style: "width:100%;height:70vh" %>
</div>
<div class="post-title">About all items in Pokemon Go</div>
<div class="post-content">
<b>In Pokemon Go</b> you can find different items, some of them will be given to you from the begining, other you can find walking around streets and visiting PokeStops. But if you want more items you can buy them in Shop. Anyway - below you can find a list of all known items in Pokemon Go world:
</br></br>
<b>Purchasable Items - </b>You can find all of theese items in Pokemon Go Shop - only thing which you need to buy them is enough Pokecoins. It's also possible to find them in Poke Stops, but you never know where and when.
</br>
<b>Poke Balls</b>
</br>
Poke Ball is something which you as trainer you must use the most - or not.. But who is a trainer without pokemons? At start you have 50 Poke Balls - you can get more at Poke Stops and Go Shop. Getting levels may drop you new pokeballs - remember about this :)
</br></br>
<b>Incense</b>
</br>
Use incense to find hidden Pokemons and increase chance to find hiding pokemons in the wild for at least 30 minutes of use. At begin you have two Incenses and you can get more with PokeCoins.
</br></br>
<b>Egg Incubator</b>
</br>
If you put an Egg in Egg Incubator you will be delivered to travel some distance with phone GPS before the egg will hatch. You have one incubator, but you can reuse it as many times as you want. You can get better versions of Incubator which can incubate multiple eggs by leveling or buying it in Store.
But this version of Incubator will break after 3 uses.
</br></br>
<b>Lucky Eggs</b>
</br>
Lucky Eggs are used to give you double experience boost for 30 minutes. You use it when you want, and when you want more of them visit GoShop and spend some PokeCoins!
</br></br>
<b>Lure Module</b>
</br>
A Lure Module is upgraded version of incense that attracts Pokemon to a particular PokeStop for a 30 minutes. It's not only more effective than incense, but it also works globally - targets the PokeStop for everyone, every players interacting with choosen PokeStop is affected during these 30 minutes!
</br></br>
<b>Bag</b>
</br>
If we have all above items we need to store them somewhere, and exactly for this purpuose is your Bag. At start you can carry up to 350 different items, but you can but Bag Upgrade which gives you 50 more places for items per upgrade.
</br></br>
<b>Pokemon Storage</b>
</br>
It's used to store all of your catched pokemons. At start everyone can have 250 different Pokemons with 9 Pokemons Eggs. Upgrades works in the same way as in your Bag - every gives you space for 50 more pokemons.
</br></br></br>
<b>Collectible Items - </b> It's impossible to buy everything in the shop, sometimes you will have to visit your local PokeStops to obtain new valuable items like them:
</br></br>
<b>Revive and Max Revive</b>
</br>
Use revive when your Pokemon is fainted, and it's will bring 50% of pokemon HP back. Max Revive works almost the same, but bringing back 100% of fainted Pokemon HP. Remember that Pokemon may be fainted in Gym Battle against opposing gym teams only.
</br>
Revives are basically dropped from PokeStops after you as trainer obtain 5 level.
</br></br>
<b>Potions</b>
</br>
There is nothing special - if you have ever played video games you know how Potions works. Only thing which you need to know is that you can find them in PokeStops after level 5. Leveling up should give you some potions. Known types of Potions in Pokemon Go:
Super Potions will start appearing in PokeStops after level 10, and will also be given as level 10+ rewards.
</br>
    <b>Potion</b> - Gives you additional <b>20 HP</b> points.</br>
    <b>Super Potion</b> - Gives you additional <b>50 HP</b> points. </br>
    <b>Hyper Potion</b> - Gives you additional <b>200 HP</b> points.</br>
</br>
</br>
<b>Razz Berry</b>
</br>
After 8 level you will be able to find Razz Berries - it's used to feed catching Pokemon. Feeded pokemon is easier to catch in next throw - so don't lose this!
</br></br>
<b>Great Balls and Ultra Balls</b>
</br>
Great Ball is upgraded version of Poke Ball, you can buy them in the shop or find at PokeStops. You will be able to find them after 12 in-game level.
</br>
After level 20 you will be able to find <b>Ultra Balls</b> which are best known version of Poke Ball.
</br>
</br>
<b>Stardust</b>
</br>
Used to evolving Pokemons and making them stronger. We can drop some Stardust at catching pokemons and when we take control over gym for more than 21 hours.
</br>
</br>
</br>
<b>Other Items</b>
</br>
These items are given to every trainer, and cannot be purchased.
</br>
<b>Camera</b>
</br>
Given to you from the begining of your story, it bringing you possibility to photograph Pokemons in their natural street enviroment.
This item is automatically given to you at the start of your adventure, and allows you to easily photograph your encounter with a Pokemon in the wild. Just tap the camera icon during an encounter! 
</div>
<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="4297236306"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>