<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="2820503107"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div id="post-cover">
<%= image_tag "/system/buttons/pokemon-go-android-ios.jpg", class: "post-cover-image", style: "width:100%;height:70vh" %>
</div>

<div class="post-title">Questions and answers about technical issues:</div>
<div class="post-content">
<b>1. Which version of Android i need to install game?</b>
</br>
Developers said it's Android 4.4 Kitkat - and on older versions you will be unable to install Pokemon Go.
</br></br>
<b>2. Which version of iOS I need to install game?</b>
</br>
You need iOS 8 or newer to install Pokemons on your device.
</br></br>
<b>3. Need I stable internet connection to play the game?</b>
</br>
Yes, and it's impossible too play pokemons without Internet.
</br></br>
<b>4. I have Intel processor in my phone, can I play Pokemons?</b>
</br>
At this moment? No. Maybe in future Niantec will adapt game for these processors.
</br></br>
<b>5. PokéCoins and premium items don't show up on my profile?</b>
</br>
Solution from game developers website:</br>
Sign out and sign back into Pokémon GO. Open Pokémon GO, touch Main Menu > Settings and then select "Sign out."</br>
If that does not resolve the issue, try powering off your device and restarting.
</br></br>
<b>6. I got an error 'You already own this item'</b>
</br>
This error my appear when you lose internet connection at purchasing something in shop. Restart your phone and everything should be great.
</br></br>
<b>7. I got my account rested to 1 level?</b>
</br>
It's possible when you made two accounts - one with Pokemon Trainer Club, second with Google. To resolve it logout from Settings menu and login using your original login method.
</br></br>
<b>8. Something is wrong with my Audio</b>
</br>
Sometimes audio got disorted, especially on bluetooth speakers. At this day is no solution for it.
</br></br>
<b>9. I lost all my battery? </b>
</br>
Some Android devices burning their energy as hell at playing Pokemon Go. Developers said it will be repaired in next patches.
</br></br>
<b>10. I cannot login into game!</b>
</br>
In last few days a lot of people want to play Pokemon Go. Game servers have problems with these crowds so sometimes it's impossible to play.
</br></br>
<b>11. It's better to login by Google or Pokemon Club?</b>
</br>
Logging in by Pokemon Club is not the best option, there is more problems with it than Google. <b>So we recommend logging in by Google!</b>
</br></br>
<b>12. Problem with finding GPS connection?</b>
</br>
In some cases you need to turno on wi-fi module and change location services to GPS, Wi-Fi and Mobile Networks.
</br></br>
<b>13. I can't see Pokemons i AR mode?</b>
</br>
If you have older phone - you may have not gyro or application can't use it. If you have compatibile phone but it's still don't work - you should wait for next patches.
</div>
<div id="inpost-ad-container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- pokemongo-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6222054838117933"
     data-ad-slot="4297236306"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>