<h2>Lista wszystkich harcerzy!</h2>
<table>
	<tr>
		<td>Imie i Nazwisko </td>
		<td>Zastep</td>
		<td>Zdjecie</td>
	<% @scouts.each do |f| %>
		<tr>
			<td><%= f.imie %> <%= f.nazwisko %></td>
			<td><%= @zastep.select(:nazwa).where(:id => f.zastep).first.nazwa %></td>
			<td>Zdjecie</td>
		</tr>
	<% end %>	
</table>