html, body {
  font-size: 100%;
  width:100%;
  height:100%;
  margin:0px;
  background-color:#f1c40f;
}
#wrap {
	min-height: 100%;
	background-color:#f1c40f;
}
main {
background-color:#f1c40f;
width:100%;
height:100%;       
}

.full-width {
  max-width: 1400px;
}

