html, body {
  font-size: 100%;
  width:100%;
  height:100%;
  margin:0px;
  background-color:#eee;
}
#wrap {
	min-height: 100%;
	background-color:#eee;
}
main {
background-color:#eee;
width:100%;
height:100%;
padding-bottom: 10%; /* must be same height as the footer */          
}

.full-width {
  max-width: 1400px;
}

