<% if logged_in? %>
<%= link_to "Wyloguj się!", {controller: "sessions", action: "destroy"}, class: "button alert" %></li>
<li>  <%= link_to "Moj profil!", {controller: "users", action: "profile", login: @current_user.login}, class: "button confirm" %></li>
<% else %>
<%= link_to "Zaloguj się!", {controller: "sessions", action: "new"}, class: "button" %>
<% end %>
</li>