 <div class="contain-to-grid sticky">



      <nav class="top-bar" data-topbar>

        <ul class="title-area">

          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

        </ul>



        <section class="top-bar-section">



          <div class="logo-wrapper hide-for-small-only">

            <div class="logo">

				<ul class="title-arena">
					<li class="title">ZHP SULECINEK</li>
				</ul>

            </div>

          </div>



          <!-- Left Nav Section -->
		  
		  	<ul class="left">

            <li><a href="#">Wydarzenia</a></li>

            <li><%= link_to "Kalendarz", calendars_index_path %></li>

            <li><a href="#">Dołącz do nas!</a></li>

          </ul>

          <!-- Right Nav Section -->

          <ul class="right">

            <li><a href="#">Kadra</a></li>
			
			<li class="has-dropdown">
              <a href="#">Zastępy</a>
              <ul class="dropdown">
                <li><a href="#">Są gorsi!</a></li>
				<li><a href="#">Nie wiem jakie tam jeszcze masz</a></li>
              </ul>

            <li><a href="#">Kontakt</a></li>
			
						  					<li>	  
<%= render 'layouts/navigation_links' %>
            </li>

          </ul>

        </section>

      </nav>



    </div><!-- /navigation -->